*,*::before,*::after{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}
body{
    display: flex;
    justify-content: center;
    margin-top: 20vh;

}
.calculator{
    display:flex ;
    flex-direction: column;
}

.buttonbox{
    display: flex;
    flex-direction: column;
    width:31rem;
    height:40rem;
    border: 2px solid blue;
    align-items: center;

}
.screen{
    border:2px solid black;
    height: 8em;
    width: 25em;
    margin-top: auto;
    

}
.keys{
    border:2px solid green;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height:80%;
    margin-top:auto;
    align-items:center;
    justify-content: center;
    align-content: center;
    gap:1em;
}
button{
    border:2px solid red;
    height:14%;
    width:20%;
}
.button.zero{
    min-width:11em;
}