*,*:before,*::after{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    width: auto;

}
.calculator{
    background-color: pink;
    border-radius: 25px;
    padding:2em;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(8,1fr);
    max-width: 25em;
    min-width: 25em;
    gap: 1em;
    min-height: 35em;
    box-shadow: 0px 0px 5px rgb(54, 54, 54);
    position:relative;
}
.screen{
    text-align: end;
    grid-row: 1/4;
    grid-column:1/5;
    font-size: 3.2em ;
    color: #21a4a2;
}
.equal{
    grid-row: 7/9;
    grid-column: 4/5;
}
button, input{
    border-radius: 15px;
    border: none;
    box-shadow: 0px 0px 9px rgb(208, 157, 166);
    background-color: rgb(255, 246, 248);
    color:#21a4a2;
    font-size: 14px;
}
button:active{
    box-shadow:0 0 0;
}
.equal{
    background-color: #21a4a2;
    color: white;
    font-size: 19px;
}
.operator{
    background-color: rgb(255, 213, 220);
    color: white;
    font-size: 19px;

}